.bg-slider .slide {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    background-position: center center;
}

/* 全体にかける */
html {
    font-size: 100%;
}
body {
    font-family: "Noto Serif JP", serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.bg-color {
  background-color: rgba(0, 0, 0, 0.4); /* 黒＋少し透過 */
}


/* トップページ/ヒーローセクションここから */
.hero-div {
  position: relative;
  width:100%;
  height: 100vh;
  background: url('img/background.jpg') no-repeat center center/cover; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

/* ロゴ */
.hero-class img {
  max-width: 50px;
  /* position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%); */
  height: auto;
  margin-bottom: 50px
}

.hero-class{
  text-align:center;
}

#nav ul { 
   display: flex;
  color: #ffffff;
  margin: 0;
  padding: 0;
  list-style: none;
  } 

#nav a {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
  padding: 3px 10px;
  margin: 0 5px;
}


/* ナビゲーションメニュー */
nav#lang-switch ul {

  padding: 0;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  color: #ffffff;
}

/*この記述で色と線に変化あり？できなかった。 */
#lang-switch ul {
  list-style: none;
  text-decoration: none;
  display: flex;/*ここで横並びです*/
  padding: 0;/*ulタグにはpaddingがChromeのcssで入ってしまうため、0にしています*/
}

#lang-switch li {
  list-style: none;
  text-decoration: none;
  display: inline;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
  color: #ffffff;
}

#lang-switch li:hover {
  color: #ffffff; 
}

/* 言語切り替えメニュー */
aside {
  position: absolute;
  top: 40px;
  right: 10px;
  width: 200px;

  /*
  background-color: lightgray;
  padding: 10px;
  border-radius: 8px;
  */
}

aside #lang-switch {
  position: absolute;
  top: 20px;
  right: 20px;
}

aside #lang-switch ul {
  margin: 30px 0px;
  padding: 0;
  display: flex;
  gap: 10px;
}

aside#lang-switch li {
  display: inline;
}

aside#lang-switch a {
  text-decoration: none;
  font-size: 16px;
  transition: opacity 0.3s;
  color: #ffffff;
  border-left: 1px solid #fff; 
  line-height: 12px;/*ボーダーの長さを文字よりも短くするために、追加しました*/
  display: inline-block;/*余白を追加したいので、ここはinline-blockで大丈夫です*/
  padding: 0 10px;/*先ほどお伝えをしたaタグのクリックできる可動領域のためにpaddingにしています*/
}

aside#lang-switch li:nth-child(1) a {
  border-left: none;
}

aside#lang-switch a:hover {
  opacity: 0.7;
}


/* ご挨拶 */
#message {
  position: relative;
  left: 23%;
  background: #DBDBDB;
  margin: 0px 0px 110px;
  padding: 60px 30px 118px;
  max-width: 600px;
  text-align: left;
}

.ttl {
     position: relative;
     text-align: center;
     margin: 0px 170px;
     padding: 20px 70px;
     margin-bottom: 40px;
     position: relative;
}

.ttl .ja {
  display: block;
  font-size: 28px;
  margin: 0px 0px 18px;;
}

.ttl .en {
  display: block;
  font-size: 14px;
  font-style: lighter;
  letter-spacing: 0.2em;
}

.ttl :before {
  content: '';
  position: absolute;
  top: 30%;
  display: inline-block;
  width: 40px;
  height: 2px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.ttl :after {
  content: '';
  position: absolute;
  top: 80%;
  display: inline-block;
  width: 40px;
  height: 2px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.ttl :before {
  left:0;
}
.ttl :after {
  right: 0;
}

#message .bottom_space {
  line-height: 3em;
}

/* 季節のおすすめ */
#seasonalmenu {
  position: relative;
  background: #333333;
  padding: 20px 0px 40px;
  text-align: center;
}


#seasonalmenu .ttl {
  margin-bottom: 50px;
  margin: 50px 440px;
  color: #ffffff;
}

#seasonalmenu .ttl {
  margin-bottom: 50px;
  margin: 50px 450px;
  color: #ffffff;
}

/* 横並びのブロック */
#seasonalmenu .container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90%;  
}

/* 季節のおすすめの画像と説明部分 */
.item-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 20px;
  padding-bottom: 0px;
  color: #ffffff;
}

.item-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 20px;
  padding-bottom: 0px;
  color: #ffffff;
}

/* 画像のサイズ調整 */
.item-1 img, .item-2 img {
  width: 100%;
 }


/*以下はがんばっている伊藤さんへの参考です*/
.item-1 > div,
.item-2 > div{
     width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 768px) {
    .item-2 {
    flex-direction: row-reverse;/*.item-2にだけ追加することで互い違いになります*/
    }
}

/* タイトルの両端の線 */
#seasonalmenu .ttl :before {
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
}

#seasonalmenu .ttl :after {
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
}

#seasonalmenu .ttl :before {
  left:0;
}
#seasonalmenu .ttl :after {
  right: 0;
}


/* お品書き */
#menu {
  position: relative;
  left: 23%;
  background: #DBDBDB;
  margin: 100px 0px 100px;
  padding: 60px 30px 90px;
  max-width: 600px;
  text-align: left;
}

/* お品書きのリスト　*/
#menu .table li {
  list-style: none;
  padding: 0px 0px 0px 0px;
}
#menu .table .bottom_space {
  line-height: 2em;
}
#menu .table {
  padding-left: 0;
}


.content_inner .ttl-small {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
    font-size: 24px;
    font-weight: normal;
  }

  h3::after {
    content: "";
    height: 0.375rem;
    left: 0;
    position: absolute;
    width: 2.5rem;
    bottom: -5px;
    border-bottom: 1px solid;
  }


.content_inner .ttl-small .underblack{
  border-bottom: 1px solid #000000;
}

.content_inner .table ul{
   margin-top: 5px;
}


  /* 当店のこだわり */
#speciality {
  background: #333333;
  padding: 15px 20px 100px 15px;
  text-align: center;
}

#speciality .ttl {
  margin-bottom: 50px;
  margin: 50px 440px;
  color: #ffffff;
}

/* 各セクションのレイアウト */
.speciality-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

/*写真と文字１,３目*/
.speciality-wrap:nth-child(1) {
  flex-direction: row-reverse;
}

.speciality-wrap:nth-child(3) {
  flex-direction: row-reverse;
}

/* テキストのスタイル */
.text {
  width: 50%;
  padding: 64px;
  background-color: #ffffff;
  color: black;
  text-align: left;
}

#speciality .text h4{
  font-size: 20px;
}

/* 画像・動画のスタイル */
.img {
  /* width: 100%; */
  display: absolute;
  /*justify-content: center;*/
}

#speciality .img img{
max-width: 80%;
height: 40%;
}

.img video {
  max-width: 80%;
  height: 40%;
}


#speciality .ttl :before {
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
}

#speciality .ttl :after {
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
}

#speciality .ttl :before {
  left:0;
}

#speciality .ttl :after {
  right: 0;
}

/*店舗*/
#access {
  margin: 0px 0px 200px;
  padding: 70px 30px 50px;
  display: flex;
    flex-direction: column; /* 縦方向に要素を並べる */
    align-items: center; /* 横方向の中央揃え */
    justify-content: center; /* 縦方向の中央揃え */
    text-align: center;
  color: #ffffff;
}

 #access .ttl {
  margin-bottom: 50px;
  margin: 0px 500px 50px;
  color: #ffffff;
 }

 .address .bottom_space {
  line-height: 2em;
 }

 /* タイトルの両端の線 */
#access .ttl :before {
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
}

#access .ttl :after {
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
}

#access .ttl :before {
  left:0;
}
#access .ttl :after {
  right: 0;
}

/* インスタ画像*/
.insta img {
  width: 40px;
  height: auto;
  margin: 40px auto;
}

/*予約reserve*/
#reserve {
  margin: 0px 0px 50px;
  padding: 50px 30px 50px;
  display: flex;
    flex-direction: column; /* 縦方向に要素を並べる */
    align-items: center; /* 横方向の中央揃え */
    justify-content: center; /* 縦方向の中央揃え */
    text-align: center;
  color: #ffffff;
}

 #reserve .ttl {
  margin-bottom: 50px;
  margin: 0px 500px 70px;
  color: #ffffff;
 }

 /* タイトルの両端の線 */
#reserve .ttl :before {
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
}

#reserve .ttl :after {
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
}

#reseve .ttl :before {
  left:0;
}
#reserve .ttl :after {
  right: 0;
}
/*

color: black;
font-size: 30px;
*/
/*主な共通部分は省略*/
/* LINE007 */

.button_line004 a {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px 50px;
  max-width: 200px;
  padding: 30px 110px 25px 110px;
  color: #ffffff;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  font-size: 30px;
  text-decoration: none;
}

.button_line004 a:before,
.button_line004 a:after {
content: '';
width: 18px;
height: 18px;
border-color: #ffffff;
box-sizing: border-box;
border-style :solid;
display: block;
position: absolute;
transition: all 0.3s ease-in-out;
}
.button_line004 a:before {
top: -6px;
left: -6px;
border-width: 2px 0 0 2px;
z-index: 5;
}
.button_line004 a:after {
bottom: -6px;
right: -6px;
border-width: 0 2px 2px 0;
}
.button_line004 a:hover:before,
.button_line004 a:hover:after {
width: calc(100% + 12px);
height: calc(100% + 12px);
border-color: #ffffff;
}
.button_line004 a:hover {
color: #000000;
background-color: #ffffff;
border-color: #ffffff;
}



/*フッター*/
footer {
  text-align: center;
  background-color: black;
  font-size: 12px;
  color: #ffffff;
  padding: 16px;
}


/* トップへ戻るボタン装飾  */
#page_top {
  z-index: 1;
  position: fixed;
  right: 20px;
  bottom: 15px;
  width: 40px;
  height: 40px;
  background: rgba(102, 102, 102, 0.5) no-repeat;
}


#page_top a::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 25px;
  height: 25px;
  margin: auto;
  color: #fff;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f077';
  font-size: 25px;
  text-align: center;
  /*デフォルトで非表示にする*//*デフォルトで非表示にする*/
 /*
  opacity: 0;
  visibility: hidden;
*/
}

/* デフォルトで非表示のあと::afterか::hoverで表示される予定だったが失敗*/
#page_top a:hover {
  opacity: 1;
  visibility: visible;
}

